@font-face {
	font-family: 'Montserrat Bold';
	src: url('../../fonts/montserrat-bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Semibold';
	src: url('../../fonts/montserrat-semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Medium';
	src: url('../../fonts/montserrat-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('../../fonts/montserrat-regular.ttf') format('truetype');
}
